*{margin:0;border:0;padding: 0;}
.bc-ground{background-image: url(../img/hdback.jpg);height: 420px;background-size: 100%;padding-right: 0;background-position: center;padding-left: 0;}
.blackbg{background-color: rgba(0, 0, 0, 0.6);height: 420px;width: 100%;z-index: -9999;}
.nopad{padding-left: 0;padding-right: 0;}
.menu{float: left;height: 70px;width: 100%;background-color: #e21712;transition: 0.5s ease;}
.menu ul li{float: left;/* width: 200px; */text-align: center;font-size: 31px;transition: 0.5s ease;color: white;margin-left: 75px;margin-right: 75px;display: block;font-family: BebasNeueRegular;}
.menu ul li:after{content: "";display: block;position: relative;z-index: 1;width: 0%;margin: 0 auto;border-bottom: 2px solid white;bottom: .15em;transition: all 0.5s;}
.logomenu{width: 75%;height: 70px;float: left;padding-left: 5px;padding-right: 5px;}
.menu ul li:hover:after{width: 100%}
.button{float: right;background-image: url(../img/menu.png);width: 70px;height: 70px;background-size: 100%;transition: 0.5s ease;}
.no-marg{margin-left: 0;margin-right: 0;}
.log{width: 85%;margin-top: 13px;height: 50px;}
@font-face{font-family:BebasNeueBold;src: url(../fonts/BebasNeueBold.otf);}
@font-face{font-family:BebasNeueBook; src: url(../fonts/BebasNeueBook.otf); }
@font-face{font-family:BebasNeueLight; src: url(../fonts/BebasNeueLight.otf);}
@font-face{font-family:BebasNeueRegular; src: url(../fonts/BebasNeueRegular.otf);}
@font-face{font-family:BebasNeueThin; src: url(../fonts/BebasNeueThin.otf); }
.logo{width: 70%;height: 100%;margin: 0 auto;}
.imglogo{width: 100%;opacity: 1;height: 120px;}
.mobmenu{transition: 0.5s ease;width: 250px;display: block;background-color: rgba(226, 23, 18, 0.85);position: fixed;opacity: 1;height: 100vh;z-index: 2;left: -250px;font-family: BebasNeueRegular;}
.mobmenu ul li{float: none;margin-right: unset;margin-left: 21px;font-size: 21px;width: 220px;}
.closemob{background-color: black;opacity: 0.7;position: absolute;width: 100%;height: 100vh;display: none;}
.blackk{height:300px;background-color: antiquewhite;}
.imglogo img{display: block;padding-top: 180px;margin: 0 auto;}
.enter{width: 100%;position: fixed;height: 70px;z-index: 2;top: 0px;border-bottom: 1px solid white;transition: 0.5s ease;}
.vk{font-size: 27px;color: white;font-family: BebasNeueRegular;height: 70px;padding-top: 4px;float: right;transition: 0.5s ease;}
.username{float: left;font-size: 22px;margin-right: 14px;}
.userphoto{float: left;width: 60px;height: 60px;}
.userphoto img{width: 100%;border-radius: 30px;border: solid 2px #e21712;}
.money{float: left;position: absolute;top: 30px;font-size: 22px;}
.exit{width: 20px;height: 20px;}
.exit img{height: 20px;width: 20px;position: absolute;}
.moneyhave{transition: 0.5s ease;}
.usernamem{color: white;font-size: 24px;text-align: center;margin-top: 5px;}
.moneym{font-size: 24px;text-align: center;color: white;}
.userphotom img{width: 90px;border-radius: 65px;/* text-align: center; */margin: 0 auto;display: block;}
.exitm img{width: 27px;border-radius: 20px;border: 2px solid black;position: absolute;top: 126px;left: 137px;}
.enterm{font-size: 32px;color: white;text-align: center;text-decoration: underline;}
.topupcount{width: 163px;font-size: 40px;font-family: BebasNeueRegular;color: #e21712;border: 1px solid #e21712;/* float: left; */height: 59px;float: left;margin-top: 25px;margin-left: 124px;}
.topup{float: left;font-size: 22px;margin-right: 30px;margin-top: 6px;padding: 6px;border: 1px solid white;background-color: rgba(226, 23, 19, 0.35);color: white;cursor: pointer;}
.topup{.background-color:rgb(226, 23, 19);}
.vk a{color: white;}
.popup{position: fixed;top: 0px;/* transition-duration: 2s; *//* transition: 2.5s ease-out; */width: 100%;z-index: 2;/* z-index: 9999; */height: 100vh;background-color: rgba(0, 0, 0, 0.35);display: none;}
.popupw{width: 609px;height: 230px;background-color: white;margin: 0 auto;margin-top: 100px;/* float: left; */border: solid 1px red;}
.closepopup{width: 30px;/* float: left; */position: absolute;/* margin-top: 75px; *//* float: left; */margin-left: 594px;top: 84px;cursor: pointer;}
.closepopup img{width: 100%;}
.poptext{font-family: BebasNeueRegular;font-size: 40px;text-align: center;}
.poptext span{color: #e21712;}
.topups{transition:0.5s ease;font-size: 30px;background-color: white;border: 1px solid;padding: 7px 40px;margin-left: 35px;margin-top: 25px;float: left;height: 60px;font-family: BebasNeueRegular;}
.popdiraction{font-family: BebasNeueRegular;font-size: 20px;text-align: center;}
.topups:hover{color:white;background-color: #E21710;}
.paybc{background-color: #e21712;font-family: BebasNeueRegular;height: 75px;}
.paypage{float: left;width: 50%;font-size: 40px;color: black;}
.paypage1{text-align: right;font-size: 35px;color: white;text-align: center;float: left;width: 50%;}
.moneypay{font-family: BebasNeueRegular;font-size: 30px;margin-top: 19px;}
.moneypay span{color: #e21712;}
.savety{font-family: BebasNeueRegular;text-align: right;font-size: 25px;}
.payimager{width: 140px;line-height: 1;float: right;margin-top: 17px;}
.payimager img{display: block;float: left;width: 40px;margin-top: 0px;}
.choosepay{width: 90%;margin: 0 auto;display: block;border: 1px solid black;margin-top: 15px;font-size: 25px;font-family: BebasNeueRegular;color: #e21712;}
.checkmoney{height: 110px;margin-top: 20px;cursor: pointer;}
.checkmoney img{-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);width: 100%;}
.checked{border: 2px solid #e21712;box-shadow: none !important;}
.topupcountm{margin-top: 8px;width: 84px;font-size: 24px;width: 40%;margin-left: 74px;border: 1px solid #e63a35;color: #e63a35;}
.topupsm{font-size: 24px;margin-left: 75px;background-color: black;color: white;border: 1px solid white;padding-left: 5px;padding-right: 5px;margin-top: 9px;margin-bottom: 5px;}
.closepay{transition: 0.5s ease;font-size: 22px;background-color: white;border: 1px solid;padding: 13px 27px;margin-left: 35px;margin-top: 25px;float: left;height: 60px;font-family: BebasNeueRegular;color: green;text-decoration: none;}
.but{color: #e21712;}
.closepay:hover{background-color: green;color:white;}
.vkenter{margin-top: 12px;}
.livename{font-family: BebasNeueRegular;text-align: center;margin-top: 5px;font-size: 24px;margin-bottom: 5px;color: white;}
.liveitem{height: 150px;margin-left: 4px;margin-right: 4px;float: left;width: 110px;}
.aboutuser{height: 360px;font-family: BebasNeueRegular;color: white;}
.buysandtopup{font-family: BebasNeueRegular;}
.notauth{font-size: 34px;font-family: BebasNeueRegular;color: #e21712;text-align: center;}
.imgperson img{width: 75%;display: block;margin: 0 auto;border-radius: 100px;border: 2px solid #e21712;}
.nameperson{text-align: center;margin-top: 15px;font-size: 25px;}
.balansperson{text-align: center;font-size: 24px;margin-top: 10px;}
.balansperson span{color: #e21712;}
.buyes{font-size: 29px;width: 150px;margin: 0 auto;border: 1px solid black;text-align: center;background-color: #e21712;color: white;margin-top: 15px;cursor: pointer;}
.mybuys{cursor: pointer;font-size: 23px;padding-left: 20px;color: white;padding-right: 20px;float: left;border-left: 2px solid #e21712;border-top: 2px solid #e21712;/* border-right: 2px solid red; */}
.mytopup{font-size: 23px;padding-left: 20px;cursor: pointer;color: white;padding-right: 20px;float: left;border-left: 2px solid #e21712;border-top: 2px solid #e21712;border-right: 2px solid #e21712;}
.mybuys1{width: 100%;border: 2px solid #e21712;float: left;color: white;padding-bottom: 10px;}
.mybuys2{text-align: center;font-size: 18px;padding-top: 10px;padding-bottom: 10px;background-color: rgba(0, 0, 0, 0.16);}
.selectb{background-color: #e21712;color: white;}
.mytopup1{width: 100%;padding-bottom: 15px;border: 2px solid #e21712;float: left;color: white;}
.mytopup2{text-align: center;font-size: 18px;padding-top: 10px;padding-bottom: 10px;background-color: rgba(0, 0, 0, 0.16);}
.paymants{margin-top: 10px;}
.number{width: 6%;float: left;text-align: center;background-color: #e21712;color: white;border-bottom: 1px solid red;border-top: 1px solid #e21712;border-right: 1px solid #e21712;padding: 5px;font-size: 17px;}
.countpays{float: left;width: 30%;text-align: center;border-bottom: 1px solid #e21712;border-top: 1px solid #e21712;border-right: 1px solid #e21712;padding: 5px;font-size: 17px;}
.viapay{float: left;width: 30%;text-align: center;border-right: 1px solid #e21712;border-bottom: 1px solid #e21712;border-top: 1px solid #e21712;padding: 5px;font-size: 17px;}
.status{width: 34%;padding: 5px;font-size: 17px;border-right: 1px solid #e21712;border-bottom: 1px solid #e21712;border-top: 1px solid #e21712;text-align: center;float: left;}
.popol{background-color: rgb(26, 180, 26);color: #ffffff;}
.notpopol{background-color: rgba(255, 0, 0, 0.61);color: #ffffff;}
hr{margin-top: 5px;margin-bottom: 20px;border: 0;border-top: 1.5px dashed rgb(255, 255, 255);}
.online img{width: 100%;height: 100%;float: left;}
.online:hover .hoveronline{display: block;}
.hoveronline{width: 128px;background-color: rgba(0, 0, 0, .70);height: 144px;position: absolute;font-family: BebasNeueRegular;display: none;transition: 0.5s ease;}
.itemname{text-align: center;color: white;font-size: 16px;margin-top: 10px;}
.bayitem{color: white;text-align: center;width: 80%;margin: 0 auto;margin-top: 45px;background-color: rgb(226, 23, 19);border: 1px solid;padding: 5px;cursor: pointer;transition: 0.5s ease}
.game{width: 1080px;margin: 0 auto;}
.image{width: 250px;height: 325px;font-family: BebasNeueBold;font-size: 20px;float: left;margin-left: 10px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;}
.image img{width: 100%;height: 100%;border: 2px solid #e21712;float: left;}
.gamename{position: absolute;padding: 10px 0px 10px 0px;text-align: center;width: 246px;margin-left: 2px;margin-top: 2px;color: white;background-color: rgba(226, 23, 19, 0.49);}
.gamecost{position: absolute;margin-top: 275px;width: 246px;text-align: center;color: white;padding: 10px;margin-left: 2px;background-color: rgba(0, 0, 0, 0.8);}
.adminpanel{float: left;padding: 3px 25px;font-family: BebasNeueRegular;color: white;font-size: 25px;margin-top: 13px;background-color: chocolate;border: 1px solid;}
.additem{text-align: center;font-size: 25px;width: 300px;margin-top: 20px;font-family: BebasNeueRegular;}
.addname{text-align: center;padding: 1px 30px;float: left;font-family: BebasNeueRegular;font-size: 20px;margin-top: 10px;}
.addprice{text-align: center;/* padding: 1px 46px; */float: left;width: 123px;font-family: BebasNeueRegular;font-size: 20px;margin-top: 10px;}
.addn{float: left;font-size: 20px;width: 175px;border: 1px solid red;margin-top: 10px;color: black;}
.addp{float: left;width: 175px;margin-top: 10px;border: 1px solid red;font-size: 20px;color: black;}
.addf{font-family: BebasNeueRegular;width: 202px;margin: 0 auto;padding-top: 10px;margin-bottom: 10px;}
.addall{width: 30%;color: white;float: left;font-family: BebasNeueRegular;}
.addsend{width: 100px;font-family: BebasNeueRegular;margin-top: 10px;margin: 0 auto;display: block;padding: 5px 10px;background-color: chocolate;text-align: center;color: white;border: 1px solid black;}
.backhover{display:none;position: absolute;width: 246px;height: 321px;background-color: rgba(0, 0, 0, 0.5);margin-left: 2px;margin-top: 2px;color: white;transition: 0.5s;}
.buttona{font-size: 29px;background-color: red;text-align: center;width: 200px;margin: 0 auto;margin-top: 135px;border: 1px solid;transition: 0.5s ease;}
.buttona:hover{background-color: white;color: red;border:1px solid red;}
.image:hover .backhover{display: block;}
.backhover a{color: unset;text-decoration: none;}
.bayitem:hover{background-color: white;color: #e21712;}
.initem{width: 800px;margin: 0 auto;}
.roulet{height: 300px;width: 800px;border-top: 2px solid #ff0600;border-bottom: 2px solid #ff0500;position: relative;z-index: 4;top: 1px;}
.random{text-align: center;padding: 0px 0px 15px;font-size: 30px;font-family: BebasNeueBold;}
.leftside{background-image: url('../img/l1.png');width: 150px;height: 100%;float: left;}
.linecenter{width: 399px;height: 298px;position: absolute;border-right: 2px solid #e21712;}
.rightside{background-image: url('../img/r1.png');width: 150px;height: 100%;float: right;}
.rouletbox{position: relative;width: 10000px;height: 260px;left: -175px;overflow: hidden;z-index: -1;top: -277px;transition: 10s ease;}
.rouletitem{width: 210px;height: 100%;float: left;background-size: cover;margin-left: 15px;border: 2px solid darkred;}
.rouletback{background-color: #1a1515;z-index: 1;position: relative;color: white;}
.hideleft{width: 2000px;position: relative;height: 300px;top: -558px;left: -2000px;background-color: #1a1515;}
.hideright{width: 2000px;position: relative;height: 300px;top: -858px;left: 800px;background-color: #1a1515;}
.openroulet{text-align: center;padding: 10px 20px;margin-top: 15px;font-size: 25px;font-family: BebasNeueRegular;width: 220px;margin: 0 auto;background-color: #e21713;color: white;cursor: pointer;transition: 0.5s ease;border: 2px solid white;}
.openroulet:hover{background-color: white;color: #e21713;border: 2px solid #e21713;}
.buyand{text-align: center;font-size: 32px;margin-top: 10px;margin-bottom: 0px;font-family: BebasNeueBold;color: white;}
.popupbuy{position: fixed;top: 0px;width: 100%;z-index: 2;height: 100vh;background-color: rgba(0, 0, 0, 0.35);font-family: BebasNeueRegular;display: none;}
.windowpop{margin: 0 auto;width: 300px;height: 200px;background-color: white;border: 2px solid red;margin-top: 75px;}
.thanks{text-align: center;font-size: 24px;margin-top: 10px;}
.lkbutton{float: left;font-size: 20px;padding: 10px 10px;margin-left: 14px;margin-top: 27px;background-color: red;color: white;border: 1px solid black;transition: 0.5s ease;}
.tryagain{float: left;font-size: 20px;padding: 10px 20px;margin-left: 10px;color: white;background-color: #18eb18;margin-top: 27px;cursor: pointer;border: 1px solid black;transition: 0.5s ease;}
.closebuypop{width: 25px;height: 25px;position: relative;left: 284px;top: -204px;cursor: pointer;}
.closebuypop img{width: 25px;}
.lkbutton:hover{background-color: white;color: red;}
.tryagain:hover{background-color: white;color: #18eb18;}
.gotitem{width: 130px;height: 170px;float: left;margin-left: 10px; margin-top: 10px;border: 1px solid red;}
.goodimg{width: 100%;height: 100%;}
.goodimg img{width: 100%;height: 100%;}
.getitem{position: relative; top: -168px; width: 128px; height: 168px; background-color: rgba(0, 0, 0, 0.6);}
.gamedrop{color: white;text-align: center;padding-top: 14px;text-decoration: underline;font-size: 18px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.cost{color: white;text-align: center;font-size: 20px;}
.getsitem{color: #20ff00;text-align: center;font-size: 20px;margin-top: 27px;cursor: pointer;}
.sellitem{text-align: center;color: red;font-size: 20px;cursor: pointer;margin-top: 10px;}
.imgopen{position: relative;width: 40px;height: 40px;top: -175px;left: 95px;}
.imgopen img{width: 100%;height: 100%;}
.keygame{position: relative;top: -95px;text-align: center;font-size: 20px;color: #ffffff;background-color: rgba(0, 0, 0, 0.68);height: 55px;text-shadow: 1px 1px 5px rgb(226, 23, 18);}
.imgsell{width: 60px;position: relative;height: 60px;top: -180px;left: 90px;}
.imgsell img{width: 100%;height: 100%;}
.notbuy{text-align: center;color: red;font-size: 24px;margin-top: 10px;}
a:hover, a:focus{text-decoration: none!important;}
.endgoods{text-align: center;font-size: 40px;font-family: BebasNeueBold;margin-top: 20px;color: #e21712;}
::-webkit-scrollbar{width:12px;}
::-webkit-scrollbar-thumb{border-width:1px 1px 1px 2px;border-color: #f00;background-color: #e21712;}
::-webkit-scrollbar-thumb:hover{ border-width: 1px 1px 1px 2px; border-color: #f00; background-color: #f00;}
::-webkit-scrollbar-track{ border-width:0; border-left: solid 1px #e21712;background-color: #ffffff;}
::-webkit-scrollbar-track:hover{border-left: solid 1px #e21712;background-color: rgb(255, 255, 255);}
body{background-color: #1a1515;}
.addnal{
    float: right;
    color: white;
    font-family: BebasNeueRegular;
    font-size: 21px;
    text-align: center;
    margin-top: 25px;
}
.addstring{
    text-decoration: underline;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 6px;
}
.add1{
    border: 1px solid #e21712;
    margin-top: 5px;
    color: #e21712;
    float: left;
}
.naladd{padding: 1px 30px;background-color: #e21712;border: 1px solid;}
.eeee{
    color: #e21712;
}
.win{
    float: left;
    color: #e21712;
    margin-top: 7px;
    margin-left: 11px;
    border: 1px solid #e21712;
}
.footer{background-color: black;height: 60px;}
.copy{
    color: white;
    font-family: BebasNeueRegular;
    font-size: 27px;
    padding-top: 10px;
    text-align: center;
}
.ask{color: white;font-size: 25px;background-color: rgba(226, 23, 18, 0.7);width: 50%;padding-left: 10px;}
.answer{color: white;margin-top: 15px;margin-bottom: 30px;border: 1px solid;font-size: 18px;background-color: rgba(0, 128, 0, 0.63);padding-left: 10px;}
.faq{
    font-family: BebasNeueRegular;
}